Set

In [3]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

Duplicates Not Allowed

In [6]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

In [8]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

In [10]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

Get the Length of a Set

In [13]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Access Items

In [18]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [20]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [23]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Add Items

In [26]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

Add Sets

In [29]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'apple', 'papaya', 'cherry', 'banana', 'mango'}

Add Any Iterable

In [32]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'banana', 'apple', 'orange', 'cherry'}